/* user  chal code */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  background-color: #f39c12;
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.custom-hr {
  border: none;
  height: 2px;
  background-color: #f39c12;
}

/* UserChallengeSubmissions */
/*.submissions-container {*/
/*  background-color: #1e1e1e;*/
/*  height: 100vh;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*  color: white;*/
/*}*/

.top-bar {
  background-color: #1e1e1e;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f39c12;
}

.top-bar a {
  color: #f39c12;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.top-bar a:hover {
  color: #f39c12;
}

.content {
  background-color: #1e1e1e;
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  width: 100%;
}

.content h2 {
  text-align: center;
  color: #f39c12;
}

.submissions-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.submissions-table th,
.submissions-table td {
  border: 1px solid #f39c12;
  padding: 10px;
  text-align: center;
}

.submissions-table th {
  background-color: #4e4b47;
  color: #f39c12;
}

.submissions-table td {
  background-color: #827776;
  color: white;
}

.view-code-button {
  background-color: #f39c12;
  color: #1e1e1e;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.view-code-button:hover {
  background-color: #f39c12;
}

/* Contact us */
/* 
.contact-us {
  padding: 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  text-align: left;
}

.contact-us h2 {
  color: #ffffff;
  background-color: #f39c12;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  font-size: 2em;
  border-radius: 5px;
}

.contact-us p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.contact-us ul,
.contact-us ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

.contact-us ul li,
.contact-us ol li {
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 1.1em;
}

.contact-us ul li strong,
.contact-us ol li strong {
  color: #ffffff;
}

.social-link {
  color: #1e90ff;
  text-decoration: none;
  font-size: 1.2em;
}

.social-link:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 40px;
  text-align: center;

  font-size: 1em;
} */

/* mini game */
.minigame-container {
  background-image: url("../../assets/game.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content {
  margin-top: 20px;
  color: white;
  text-align: center;
}
/* bug fix */
/* 
.bugfix-container {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.top-bar {
  background-color: #1e1e1e;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f39c12;
}

.top-bar a {
  color: #f39c12;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.top-bar a:hover {
  color: #e67e22;
}

.content {
  background-color: #1e1e1e;
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  width: 100%;
}

.content h2 {
  text-align: left;
  color: #f39c12;
}

.content h3 {
  text-align: left;
  color: #f39c12;
}

.content p strong {
  color: #f39c12;
}

.code-box {
  background-color: #827776;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
  color: white;
}

.code-box pre {
  margin: 0;
}

.limits {
  margin: 20px 0;
}

.limits p {
  margin: 5px 0;
}

.test-cases {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.test-cases th,
.test-cases td {
  border: 1px solid #f39c12;
  padding: 10px;
  text-align: center;
}

.test-cases th {
  background-color: #4e4b47;
  color: #f39c12;
}

.test-cases td {
  background-color: #827776;
  color: white;
}

.copy-button {
  background: none;
  border: none;
  color: #f39c12;
  cursor: pointer;
  margin-left: 10px;
}

.copy-button:hover {
  color: #e67e22;
}
.custom-hr {
  border: none;
  height: 2px;
  background-color: #f39c12;
}
.next-button {
  background-color: #f39c12;
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.next-button:hover {
  background-color: #e67e22;
}
.problem-solving-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
}
.submit-button-container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; 
}

.fixed-button-container {
  display: flex;
  justify-content: center;
}

.fixed-button {
  background-color: #f39c12;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
}
.flex {
  justify-content: space-between;
}

.submit-button {
  background-color: #f39c12;
  border: none;
  color: white;
  font-size: 16px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
}

.submit-button:hover {
  background-color: #e67e22;
}
.top-bar {
  background-color: #1e1e1e;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f39c12;
}

.top-bar a {
  color: #f39c12;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.top-bar a:hover {
  color: #e67e22;
}

.main-content {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
  margin-top: 10px;
}

.code-editor-container {
  flex-basis: 65%;
  /* padding: 1rem; 
  background-color: #f39c12;
  overflow-y: auto;
}

.question-panel {
  flex-basis: 40%;
  padding: 1rem;
  background-color: #333;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: normal;
}

.question-panel h1 {
  margin-top: 0;
  color: #f39c12;
  font-weight: 600;
}

.question-panel h3,
.question-panel h4 {
  margin-top: 0;
  color: white;
  font-weight: 600;
}

.question-panel p {
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 1rem;
}
.language-select-container {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.language-select-container label {
  color: #f39c12;
  font-weight: 600;
}

.language-select-container select {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #f39c12;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  outline: none;
}

.language-select-container select:hover {
  border-color: #e67e22;
}

.custom-hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 0.6rem 0;
}

/* Test Cases Table 
.test-cases {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.3rem;
  background-color: #333;
  color: #e67e22;
}

.test-cases th,
.test-cases td {
  padding: 0.3rem;
  border: 1px solid#333;
  text-align: left;
  vertical-align: top;
}

.copy-button {
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  color: #f39c12;
  cursor: pointer;
  font-size: 1rem;
}

.copy-button:hover {
  color: #e67e22;
} */

/* SendAnnouncement */
/* .announcement-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 800px;
  margin: 1rem;
  background-color: #333;
  overflow: hidden;
}

.announcement-header {
  font-size: 1.7rem;
  color: #f39c12;
  text-align: center;
}

.announcement-inputs {
  display: grid;
  gap: 1rem;
  width: 50%;
}

.announcement-inputs label {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.announcement-dropdown {
  margin: 10px;
  flex-direction: row;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 60%;
  background-color: #444;
  color: white;
}

.announcement-textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  background-color: #444;
  color: white;
}

.announcement-textarea {
  resize: none;
  height: 120px;
}

.send-btn {
  border-radius: 20px;
  padding: 0.6rem;
  background-color: #f39c12;
  color: white;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  text-align: center;
}

.send-btn:hover {
  background-color: #e67e22;
  transform: scale(1.05);
} */

/* Reviewer Account Form Style */
/* .reviewer-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /*height: 100vh;*/
/* padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  background-color: #333;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
} */

.reviewer-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.reviewer-icon {
  height: 25px;
  width: 25px;
}

.reviewer-title {
  font-size: 1.5rem;
  color: #f39c12;
  text-align: center;
}

.reviewer-form {
  display: grid;
  gap: 1rem;
  width: 70%;
  position: relative;
  left: 110px;
}

.reviewer-form label {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: left;
}

.reviewer-form input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 50%;
  background-color: #444;
  color: white;
}

.create-btn {
  border-radius: 20px;
  padding: 0.6rem;
  background-color: #f39c12;
  color: white;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  text-align: center;
  position: relative;
  left: 35px;
}

.create-btn:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

.is-organizer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}
